<!doctype html>
<html lang="en" data-framework="polymer">
	<head>
		<meta charset="utf-8">
		<title>Polymer Geek list</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<link rel="stylesheet" href="bower_components/todomvc-app-css/index.css">
		<!--<link rel="import" href="elements/elements.build.html" async>-->
		 <link rel="import" href="elements/elements.html"> for dev

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/bower_components/iron-image/iron-image.html">
    <link rel="import" href="/bower_components/paper-styles/demo-pages.html">
    <style>
      iron-image {
        background-color: lightgray;
        margin: 1em;
      }
      .horizontal-section {
        max-width: 300px;
        margin-bottom: 24px;
      }
    </style>
	</head>
	<body>


  <template is="dom-bind" id="item-app">
    <iron-ajax auto
               url="http://localhost:3000/items"
               params=''
               handle-as="json"
               last-response="{{items}}"></iron-ajax>

    <template is="dom-repeat" items="[[items]]">
      <div class="horizontal-section">
        <h2><a href="[[url(item.id.videoId)]]" target="_blank">[[item.title]]</a></h2>
        <iron-image src="[[item.image_url]]" width="280" height="200" sizing="cover" preload fade></iron-image>
        <p>[[item.description]]</p>
        <p>by: [[item.author]]</p>
        <p>
          Geek points: [[item.points]]
        </p>
      </div>
    </template>

  </template>


  <div id="todoapp">
			<header>
				<h1>Geek board</h1>
			</header>

      <template is="dom-bind">
        <iron-ajax id="model1" auto
                   url="http://localhost:3000/items"
                   params=''
                   handle-as="json"
                   last-response="{{items}}"></iron-ajax>

        <td-model id="model" items="{{items}}"></td-model>

      </template>

			<template is="dom-bind">
				<td-model id="model" items="{{todos}}"></td-model>
				<td-todos model-id="model" items="{{todos}}"></td-todos>
			</template>
		</div>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="https://www.polymer-project.org/1.0/">The Polymer Authors</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="bower_components/todomvc-common/base.js" async></script>
		<script>
			(function () {
				// Feature detect and conditionally load the polyfills.
				var webComponentsSupported = ('registerElement' in document
					&& 'import' in document.createElement('link')
					&& 'content' in document.createElement('template'));

				if (!webComponentsSupported) {
					var script = document.createElement('script');
					script.async = true;
					script.src = 'bower_components/webcomponentsjs/webcomponents-lite.min.js';
					document.head.appendChild(script);
				}
			})();
		</script>

	</body>
</html>

</body>